*.pyc
*.ps1

*.aif
*.ogg
*.mp3
*.wav
*.png
*.jpg
*.psd
*.gif
*.jpeg

.git
*/.git

resources

package.json
*/package.json

package-lock.json
*/package-lock.json

node_modules
*/node_modules
node_builds
*/node_builds

config
install

test
tmp

*/__oldver
__oldver